html,
body {
  overflow-x: hidden;
}

*,
::after,
::before {
  scroll-behavior: smooth;
}

@media (max-width: 576px) {
  .content {
    padding-top: 51px;
  }
}

@media (min-width: 577px) {
  .pt-scroll {
    padding-top: 51px;
  }

  .nav-sticky {
    position: fixed !important;
    min-width: 100%;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-in;
    z-index: 1;
  }
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 60px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 52px;
  height: 1px;
  background: #d4b34c;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #000;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}
.loader {
  border-top-color: #030712;
  border-left-color: #03071249;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* .cl-formButtonPrimary {
  background-color: #d4b34c;
}

.cl-formButtonPrimary:hover {
  background-color: #d5ba69;
} */

.cl-card {
  background-color: hsl(var(--background));
}

/* Wave underline effect on selected text */
::selection {
  text-decoration: line-through;
  color: #d4b34c;
}
.homeSvg {
  border-radius: 68% 32% 48% 52% / 59% 31% 69% 41%;
}
.homeSvg:hover {
  border-radius: 32% 68% 48% 52% / 42% 68% 32% 58%;
}

.map {
  filter: grayscale(1) contrast(1.2) opacity(0.8);
}
#link::selection {
  color: rgb(104, 198, 104);
}

/* wew test */
/* 
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #8ad59b 0%, rgb(181, 224, 106) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

button {
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
}
